@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.text {
  color: White;
  width: 50em;
}

.text h1 {
  font-size: 4.5em;
  line-height: 1em;
}

.text p {
  font-size: 1.5em;
}

.text .paragraph {
  margin-top: 1.5em;
  line-height: 2em;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40em;
  margin-bottom: 1em;
}

.boxes .box {
  background-color: #6055a5;
  text-align: center;
  color: White;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 10px;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
  width: 99%;
  margin-bottom: 2.5em;
  margin-top: 1em;
}

.boxes .box .ad {
  font-weight: 600;
}

.boxes .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: White;
  min-height: 35em;
  width: 99%;
  padding-top: 1em;
  border-radius: 10px;
  box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1342px) {
  .main {
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 6em;
  }
  .text h1 {
    text-align: center;
    font-size: 2em;
  }

  .h1-title {
    width: 12em;
  }

  .text p {
    font-size: 1.1em;
  }
  .text .paragraph {
    line-height: 1.5em;
    width: 21.25em;
  }

  .boxes {
    width: 100%;
    margin-top: 5em;
    margin-bottom: 5em;
  }
  .boxes .box {
    display: flex;
    justify-content: center;
    width: 18em;
  }
  .boxes .box .wi {
    width: 11em;
  }

  .boxes .box .restofad {
    font-size: 1em;
  }
  .boxes .box .ad {
    font-weight: 600;
    font-size: 1em;
  }
  .boxes .form {
    background-color: White;

    width: 21.5em;
    padding-top: 0em;
  }
}
