@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
input {
  width: 30em;
  height: 4em;
  margin-top: 1.5em;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.233);
  outline: none;
  padding: 1.5em;
  padding-right: 3.5em;
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
}

input::placeholder {
  margin-left: 10vw;
}

input:focus {
  border-color: #3e3c49;
}

button {
  width: 25.5em;
  height: 3em;
  margin-top: 1em;
  text-transform: uppercase;
  background-color: #38cc8c;
  border-color: #38cc8c;
  border-width: 1px;
  border-bottom-width: 3px;
  border-radius: 5px;
  color: White;
  font-weight: 600;
  font-size: 1.3em;
  cursor: pointer;
}

button:active {
  opacity: 0.5;
}

p {
  display: inline;
}

.smalltext {
  margin-bottom: 1em;
}

.text2 {
  color: #b9b6d3;
  font-size: 0.85em;
}

.terms {
  color: #ff7a7a;
  font-size: 0.85em;
  font-weight: 700;
  background-color: White;
}

.errormessage {
  display: flex;
  justify-content: flex-end;
  color: #ff7a7a;
  font-size: 1em;
  font-weight: 500;
}

.inputnameerror {
  border-color: #ff7a7a;
}

.inputnameerror:focus {
  border-color: #ff7a7a;
}

.inputnameerrorhight {
  border-color: #ff7a7a;
}

.inputnameerrorhight:focus {
  border-color: #ff7a7a;
}

.error-image0 {
  margin-top: -3em;
  position: absolute;
  width: 2em;
}

.error-image {
  margin-left: 11em;
}

.error-image2 {
  margin-left: 8.5em;
}

.error-image3 {
  margin-left: 11.35em;
}

@media screen and (max-width: 1342px) {
  input {
    width: 20em;
    font-size: 1em;
  }
  button {
    width: 20em;
    font-size: 1em;
  }
  .smalltext {
    text-align: center;
  }
  .errormessage {
    font-size: 0.8em;
  }
  .error-image {
    margin-top: -3.5em;
  }
  .error-image2 {
    margin-top: -3.5em;
  }
  .error-image3 {
    margin-top: -3.5em;
  }
}
