@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/bg-intro-desktop.png") no-repeat center center fixed, url("../images/bg-intro-desktop.png") no-repeat center center fixed;
  background-size: cover;
  background-color: #ff7a7a;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1245px) {
  body {
    background: url("../images/bg-intro-mobile.png") no-repeat center center fixed, url("../images/bg-intro-mobile.png") no-repeat center center fixed;
    background-size: cover;
    background-color: #ff7a7a;
    font-family: "Poppins", sans-serif;
  }
}
